/* Apply flex, set min-height and columns */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}
img {
    min-height: 100%;
    max-width: 100%;
}

main {
    flex: 1 0 auto;
}
.jumbotron {
    size: 200%;
}

/* Keep text on single row */
.nav {
    white-space: nowrap;
    overflow: hidden;
}

#map {
    height: 500px;
}

/* Font and style */
.brand-logo {
    font-family: 'Bowlby One SC',
        cursive;
}

/* Search Input Group */
.input-group {
    width: 50%;
    margin: auto;
    display: block;
}

/* Button style */
#searchBtn {
    border-radius: 5px;
    margin-top: 5px;
    background-color: #af0606;
    width: 100px;
}
#modal1 {
     border-radius: 5px;
     margin-top: 5px;
     width: 100px;
}
#checkBox {
    padding-left: 10px;
    padding-top: 10px;
}
#map {
    min-height: 250px;
    max-height: 307px;
    border-radius: 5px;
}
.row {
    display: flex;
    overflow: hidden;
    /* equal height of the children */
}

.col {
    flex: 1;
    /* additionally, equal width */
    max-height: 400px;
    padding: 1em;
    border: solid;
    
}
/* Center weather info, set margins to auto */
table {
    border-radius: 5px;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    background-color: white;
    color: black;
    min-height: 250px;
    max-height: 307px;
}

 .controls {
     background-color: #fff;
     border-radius: 2px;
     border: 1px solid transparent;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     box-sizing: border-box;
     font-family: Roboto;
     font-size: 15px;
     font-weight: 300;
     height: 29px;
     margin-left: 17px;
     margin-top: 10px;
     outline: none;
     padding: 0 11px 0 13px;
     text-overflow: ellipsis;
     width: 400px;
 }

 .controls:focus {
     border-color: #4d90fe;
 }

 #infowindow-content {
     display: none;
 }

 #map #infowindow-content {
     display: inline;
 }