   /* Remove the navbar's default margin-bottom and rounded borders */
   .navbar {
       background-color: black;
       margin-bottom: 0;
       border-radius: 0;
   }

   .titleFont:hover {
       color: #af0606;
   }

   .jumbotron {
       background-color: #24585f;
       color: #fff;
   }

   .input-group {
       width: 50%;
       margin: auto;
       display: block;
   }

   #btn {
       border-radius: 5px;
       margin-top: 5px;
       background-color: #af0606;
   }

   .glyphicon {
       padding-top: 20px;
   }

   /* Add a gray background color and some padding to the footer */
   footer {
       background-color: #f2f2f2;
       padding: 25px;
   }