/* Apply flex, set min-height and columns */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}
img {
    size: 200%;
}

main {
    flex: 1 0 auto;
}
.jumbotron {
    size: 200%;
}

/* Keep text on single row */
.nav-extended {
    white-space: nowrap;
}
#weatherInfo {
    height: 250px;
    margin-top: 15px;
}

#map {
    height: 250px;
}

/* Font and style */
.brand-logo {
    font-family: 'Bowlby One SC',
        cursive;
}

/* Search Input Group */
.input-group {
    width: 50%;
    margin: auto;
    display: block;
}

/* Button style */
#searchBtn {
    border-radius: 5px;
    margin-top: 5px;
    background-color: #af0606;
}
#modal1 {
     border-radius: 5px;
     margin-top: 5px;
}
#checkBox {
    padding-left: 10px;
    padding-top: 10px;
}
#topRow {
    height: 400px;
    margin-bottom: 0;
}
#bottomRow {
    height: 400px;
    margin-top: 0px;
    overflow: hidden;
    justify-content: center;
}

/* Center weather info, set margins to auto */
table {
    border-radius: 5px;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    background-color: white;
    color: black;
}